
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://rsms.me/inter/inter-ui.css');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

ul {
  list-style-type: none; /* Убирает буллиты */
 }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffff9 ;
    height: 100vh;
    text-align: center;
  }

  header{
    background-color: #ddd7c7b0;
    padding:10px;
    display: flex;
    position: sticky;
    z-index: 1001;
   /* position: relative;  Фиксированное расположение */
    top: 5px; /* в правом верхнем углу */
    width: 100%;
    height: 50px;
    object-fit: contain;
    
  }

  .cont1{
    display: flex;
    position: relative;
    margin-bottom: 0;
    
  }

 
  #menu {
    z-index: 2;

  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 20px 0 15px 15px;
    cursor: pointer;
  }
  
  #menu-bar:hover {
    transform: scale(1.1);
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: #F9F0DA;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }


  /* поиск */
  
  .serc {
    /* background: #be290e; */
    
    margin: 5px 500px 0 100px;
  }
  .serc form {
    background: #F9F0DA;
    /* border-bottom: 4px solid #be290e; 
    border-top: 4px solid #be290e; */
    border-radius: 10px;
  }
  .serc input, .serc button {
    border: none;
    outline: none;
    background: transparent;
  }
  .serc input {
    width: 250px;
    height: 42px;
    /* border: none; */
    padding-left: 25px;
  }
  .bsub{
    height: 30px;
    padding-bottom: 20px;


  }
  .serc button {
    /* margin: 12px 530px 0 100px; */
    height: 20px;
    width: 50px;
    position: relative;
    top: 5px;
    
    cursor: pointer;
  }
  .serc button:before {
    content: "\2192";
    top: 20px;
    /* left: 400px; */
    font-family: FontAwesome;
    font-size: 30px;
    color: #DC052D;
    background-color: #F9F0DA;
  }

  .serc button:hover{

    transform: scale(1.1);

  }

  /* корзина */

  .cart {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ddd7c700;
    background-image: none;

    transition: 0.1s;
    cursor: pointer;
    position: relative; /* Фиксированное расположение */
    top: 0px; /* в правом верхнем углу */
    right: 0px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 20px;
    /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); */
  }

  .cart__image{
    width: 50px;
    height: 50px;
    top: 15px; /* в правом верхнем углу */
    right: 50px;


  }
  
  /* Увеличиваем кнопку при наведении на нее */
  .cart:hover {
    transform: scale(1.1);
  }
  
  /* Стилизуем счетчик товаров */
  .cart__num {
    position: absolute;
    background-color: #d62240;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
    z-index: 1000; /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none; /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
  }
  
  /* Стилизация контейнера окна */
  .popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
  }
  
  /* Элементы окна (заголовок, список товаров, вывод стоимости) */
  .popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  
  .popup__item:last-of-type {
    border-bottom: none;
  }
  
  .popup__title {
    font-size: 20px;
  }
  
  /* Стили для вывода товара */
  .popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .popup__product-wrap {
    display: flex;
    align-items: center;
  }
  
  .popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .popup__product-title {
    max-width: 300px;
    font-weight: 500;
  }
  
  .popup__product-price {
    font-size: 18px;
    margin-right: 15px;
  }
  
  /* Стили для кнопки удаления товара */
  .popup__product-delete {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
  }
  
  /* Стили для вывода стоимости товаров */
  .popup__cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  
  .popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #364364;
    text-align: right;
  }
  
  .popup__cost-value {
    font-size: 20px;
  }
  
  /* Стили для кнопки закрытия окна */
  .popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
  }
  
  .popup__close:hover {
    color: rgb(54, 67, 100);
  }
  
  .popup--open {
    display: flex;
  }


/* слайдер */


.page-title {
  text-align: center;
}

.slider-container {

  /* position: relative; */
  top: 100px;
  width: 100%;
  height: 500px;
  margin: 20px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #d62240;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}


.space{

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* height: calc(60% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px); */



}